{% block body %}

{#   {{ test }}#}

    {% for r in repos  %}
        <ul>

        <li>{{ r.org.name }} {{ r.points }} {{ r.createdate | date('Y-m-d') }} <a href="{{ r.link }}">{{ r.name }}</a></li>
        </ul>
    {% endfor %}
{% endblock %}